body {
    padding-bottom: 30px;
}

.card-img-top{
    width: 30%;
    height: 30%;
}

.num-text{
    color: coral;
    font-size: 30px;
    font: bold 30px Ubuntu;
}

.card-text{
    color: grey;
    font-size: 15px;
}


.col-lg-1{
    font-size: 35px;
}


.own-animal {
    cursor: pointer;
    border: 1px black solid;
    background-color: lavenderblush;
    border-radius: 10px;
    margin-bottom: 10px;
}

.market-animal {
    border: 1px salmon solid;
    border-radius: 10px;
}

.held {
    border: solid 10px red;
}

.holder {
    border:1px salmon solid;
}

.hovered {
    background: mediumspringgreen;
    border-style: dashed;
}

.invisible {
    /*display:none;*/
    background-color: white;
    border: 1px salmon solid;
}

img {
    width: 50px;
}

#dice_img_1 img, #dice_img_2 img {
    width: 80px;
    padding-bottom: 20px;
}

.col-1{
    color: coral;
    font: bold 30px Ubuntu;
}
